.left {
  position: relative;
}

.left:before {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.left-big {
  position: relative;
}
.left-big:before {
  content: "";
  position: absolute;
  width: 0;
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  visibility: hidden;
  transition: all 0.4s ease-in-out;
}

.left-big:hover:before {
  visibility: visible;
  width: 100%;
}

.left:hover:before {
  visibility: visible;
  width: 100%;
}

.section-container {
  margin-bottom: 10rem;
}

.section-head {
  font-size: 4rem;
  letter-spacing: -0.1rem;
  margin-bottom: 0rem;
}


ul {
  list-style: none;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button {
  font-family: 'Manrope', sans-serif !important;
  color: #000000;
}

h1,
h4,
.nav-link {
  font-weight: 800;
}

h5,
h6 {
  font-weight: 500;
}

p {
  font-weight: 300;
}

a {
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: none;
}
  
/* .react-rotating-text-cursor {
  animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s infinite;
}

@keyframes blinking-cursor 
  0%
    opacity: 0
  
  50%
    opacity: 1
  
  100%
    opacity: 0 */
