footer {
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer-text {
  font-size: 1rem;
  font-weight: 800;
  letter-spacing: 0;
}
