nav
  position: fixed
  top: 0
  left: 0
  width: 100%
  display: flex
  justify-content: center
  z-index: 2
  background-color: #ffffff
  
li 
  width: fit-content
  text-decoration: none

a 
  letter-spacing: -0.25px

// add media queries for width
ul
  display: flex
  justify-content: space-evenly
  width: 50%
  list-style: none
  padding-left: 0px
