#case-study-links-container
  display: flex
  flex-direction: column
  justify-content: space-evenly
  align-items: left
  padding-left: 0rem

.case-study-links
  width: max-content
  margin-left: 0rem
  font-size: 7rem

@media screen and ( max-width: 991px)
  .case-study-links
    font-size: 5rem

@media screen and ( max-width: 767px)
  .case-study-links
    font-size: 4rem


@media screen and ( max-width: 549px)
  .case-study-links
    font-size: 3rem

@media screen and ( max-width: 448px)
  .case-study-links
    font-size: 3rem
